*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    height: 100vh;
    background-color: #3C3F52;
    font-family: 'Press Start 2P',cursive;
}
h1{
    font-size:3rem;
    color:#15220e;
}

canvas{
    
    border: 0.4rem solid #15220e;
    width:30rem;
    height: 30rem;    
    display: none;
}
#score{
    font-size: 2rem;
    position: relative;
    bottom:31rem;
    
    color:#15220e68;
}
#gameOverText{
    position: absolute;
    color:#15220e;
    font-size: 2.5rem;
    bottom:55vh;
    opacity: 0;
}


#menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: 30rem;
    height: 30rem;
    border: 0.4rem solid #15220e;
    background-color: #4e7d33;
    z-index: 1;

    #titleDiv{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:1rem;
        position: relative;
        bottom:2rem;

        #title{
            font-size:3rem;
            color:#15220e;
        }
        #highScore{
            font-size: 1.5rem;
            color:#15220e;
        }
    }
    #startGame{
        color:#15220e;
        font-size: 2.5rem;
        cursor: pointer;
        padding-bottom: 1.5rem;
        
    }
    .selectedMenu{
        animation: bump 0.6s infinite ease alternate;
    }
    #difficulty{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap:0.5rem;
        font-size:1.2rem;
        color:#15220e;

        .selectedDifficulty{
            border:5px solid #15220e;
            padding:5px;
        }

        #easy,#normal,#hard,#impossible{
            cursor: pointer;
        }
    }

}

#controller{
    //border:1px solid white;
    width:25rem;
    height:25rem;
    position: relative;
    bottom:2rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items:center;
    align-items: center;
    display:none;
    

    #up,#left,#down,#right,#enter{
        width:6rem;
        height:6rem;
        background-color: white;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:5rem;
    }
    #up{
        grid-column: 2;
        grid-row:1;
    }
    #left{
        grid-column: 1;
        grid-row:2;
    }
    #right{
        grid-column: 3;
        grid-row:2;
    }
    #down{
        grid-column: 2;
        grid-row:3;
    }
    #enter{
        grid-column: 2;
        grid-row: 2;
    }
}


@keyframes bump {
    0%{transform: translateY(5px)};
    100%{transform: translateY(-5px)};
}   
@media(max-width:1500px){
    body{
        padding-top:1rem !important;
    }
    #controller{
        width:10rem;
        height:10rem;
        div{
            width:3rem !important;
            height:3rem !important;
        }
    }
}
@media (max-width:1025px){
    body{
        justify-content: start;
        padding-top:5rem;
    }
    #menu,canvas{
        width:40rem;
        height:40rem;
    }
    #score{
        bottom:40rem;
    }
    #gameOverText{
        bottom:20rem;
        font-size:3rem;
    }
    #controller{
        display:inline-grid;
        position: relative;
        
    }
}

@media (max-width:800px){
    body{
        padding-top:0rem !important;
    }
    #menu,canvas{
        width:35rem;
        height:35rem;
    }
    #score{
        bottom:35rem;
    }
    #gameOverText{
        bottom:22rem !important;
        font-size:2rem;
    }
    #controller{
        display:inline-grid;
        position: relative;
        width:10rem !important;
        height:10rem !important;
    }
}

@media (max-width:400px){
    body{
        padding-top: 0;
    }
    canvas,#menu{
        width:20rem;
        height:20rem;
    }
    #menu{
        gap:0rem;
    }
    #title{
        font-size:2rem !important;
    }
    #highScore{
        font-size:1rem !important;
    }
    #startGame{
        font-size:1.5rem !important;
    }
    #difficulty{
        font-size:0.8rem !important;
    }
    #controller{
        width:10rem;
        height:10rem;
        position: relative;
        left:-1rem;
    }
    #up,#left,#down,#right{
        width:3rem !important;
        height:3rem !important;
    }
    #score{
        bottom:20rem;
    }
    #gameOverText{
        bottom:30rem !important;
        font-size:1.8rem;
    }
}